[Unit]
Description=GEN CAN and GPIO handler
Documentation=https://github.com/pudjamansyurin/gen-hmi-secondary
ConditionPathExists=/home/pi/gen/gen.py
After=multi-user.target

[Service]
Type=simple
ExecStartPre=/usr/bin/gpio write 43 1
ExecStart=/usr/bin/python3 /home/pi/gen/gen.py
ExecStop=/usr/bin/gpio write 43 0
Restart=on-failure
RestartSec=5
TimeoutSec=600

[Install]
WantedBy=multi-user.target

