[Unit]
Description=GEN CAN Handler
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/gen/gen_can_handler.py
Restart=on-abort
 
[Install]
WantedBy=multi-user.target
